<ion-view ng-init="init()">
  <ion-content>
    <h1>{{orgao.nome}}</h1>

    <chartist class="ct-chart" chartist-data="chartData" ng-if="chartData"
              chartist-chart-type="Bar"
              chartist-chart-options="chartOptions">
    </chartist>

    <div class="row">
      <div class="col">
        Valor empenhado {{valorEmpenhadoTotal}}
      </div>
      <div class="col">
        Valor liquidado {{valorLiquidadoTotal}}
      </div>
      <div class="col">
        Valor pago {{valorPagoTotal}}
      </div>
    </div>

    <div class="row">
      <div class="col">Mês</div>
      <div class="col">Valor empenhado</div>
      <div class="col">Valor liquidado</div>
      <div class="col">Valor pago</div>
    </div>
    <div class="row" ng-repeat="despesa in despesas">
      <div class="col">{{ despesa.node.mes_referencia }}</div>
      <div class="col">{{ despesa.node.vl_empenhado }}</div>
      <div class="col">{{ despesa.node.vl_liquidado }}</div>
      <div class="col">{{ despesa.node.vl_pago }}</div>
    </div>
  </ion-content>
</ion-view>
